version: "3.8"

#consul UI 
services:
  consul:
    image: consul:1.15
    container_name: consul
    ports:
      - "8500:8500"
    command: consul agent -dev -client=0.0.0.0

  config-service:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - consul
