definitions:
    Config:
        description: Config represents a single configuration item
        properties:
            id:
                description: The unique identifier for the configuration
                example: config-123
                type: string
                x-go-name: ID
            name:
                description: The name of the configuration
                example: Database Configuration
                type: string
                x-go-name: Name
            parameters:
                additionalProperties:
                    type: string
                description: Key-value pairs representing configuration parameters
                example:
                    host: localhost
                    port: "5432"
                type: object
                x-go-name: Parameters
            version:
                description: The version of the configuration
                example: v1.0.0
                type: string
                x-go-name: Version
        type: object
        x-go-package: github.com/anjaobradovic/ars-sit-2025/model
    ConfigurationGroup:
        description: ConfigurationGroup represents a group of related configurations
        properties:
            configurations:
                description: Array of labeled configurations in this group
                items:
                    $ref: '#/definitions/LabeledConfiguration'
                type: array
                x-go-name: Configurations
            id:
                description: The unique identifier for the configuration group
                example: group-456
                type: string
                x-go-name: Id
            name:
                description: The name of the configuration group
                example: Database Configurations
                type: string
                x-go-name: Name
            version:
                description: The version of the configuration group
                example: v2.1.0
                type: string
                x-go-name: Version
        type: object
        x-go-package: github.com/anjaobradovic/ars-sit-2025/model
    IdempotencyRecord:
        description: IdempotencyRecord stores information about an idempotent request
        properties:
            body:
                description: Body of the response
                example: '{"id":"config-123","name":"DB Config","version":"v1.0.0"}'
                type: string
                x-go-name: Body
            status:
                $ref: '#/definitions/IdempotencyStatus'
            statusCode:
                description: HTTP status code returned for the request
                example: 200
                format: int64
                type: integer
                x-go-name: StatusCode
        type: object
        x-go-package: github.com/anjaobradovic/ars-sit-2025/model
    IdempotencyStatus:
        description: IdempotencyStatus represents the status of an idempotent operation
        type: string
        x-go-package: github.com/anjaobradovic/ars-sit-2025/model
    LabeledConfiguration:
        description: LabeledConfiguration represents a configuration with associated labels
        properties:
            configuration:
                $ref: '#/definitions/Config'
            id:
                description: The unique identifier for the labeled configuration
                example: labeled-config-789
                type: string
                x-go-name: Id
            labels:
                additionalProperties:
                    type: string
                description: Key-value pairs representing labels for this configuration
                example:
                    environment: production
                    region: us-east-1
                type: object
                x-go-name: Labels
        type: object
        x-go-package: github.com/anjaobradovic/ars-sit-2025/model
paths: {}
swagger: "2.0"
